<?xml version="1.0" encoding="UTF-8"?>
 
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    id="WebApp_ID" version="2.5">
    
	<display-name>Hibernate Stats Web Application</display-name>
	
	<!--
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/hibernate-stats-servlet.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
	-->

	<servlet>
		<servlet-name>hibernate-stats</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>

		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>2</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>hibernate-stats</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>simon-console-servlet</servlet-name>
		<servlet-class>org.javasimon.console.SimonConsoleServlet</servlet-class>
		<init-param>
			<param-name>url-prefix</param-name>
			<param-value>/simon-console</param-value>
		</init-param>
		<init-param>
			<param-name>plugin-classes</param-name>
			<param-value>org.javasimon.console.plugin.CallTreeDetailPlugin</param-value>
		</init-param>

		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>simon-console-servlet</servlet-name>
		<url-pattern>/simon-console/*</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>simon-filter</filter-name>
		<filter-class>org.javasimon.javaee.SimonServletFilter</filter-class>
		<!-- optional -->
		<init-param>
			<param-name>prefix</param-name>
			<param-value>com.qopuir.hibernatestats.web.stats</param-value>
		</init-param>
		<!-- optional basic plain-text console
		<init-param>
			<param-name>console-path</param-name>
			<param-value>/simon-console</param-value>
		</init-param>
		-->
		<!-- optional, necessary when long requests should be reported -->
		<init-param>
			<param-name>report-threshold-ms</param-name>
			<param-value>1000</param-value>
		</init-param>
		<!-- optional, used by reporting mechanism - default implementation uses Manager.message to log stuff, this goes to stdout
		<init-param>
			<param-name>request-reporter-class</param-name>
			<param-value>org.javasimon.javaee.reqreporter.StandardRequestReporter</param-value>
		</init-param>
		-->
		<!-- optional, used to specify parameters for StopwatchSource instance -->
		<init-param>
			<param-name>stopwatch-source-props</param-name>
			<param-value>includeHttpMethodName=ALWAYS</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>simon-filter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<!--
	<filter>
		<filter-name>simon-console-filter</filter-name>
		<filter-class>org.javasimon.console.SimonConsoleFilter</filter-class>
		<init-param>
			<param-name>url-prefix</param-name>
			<param-value>/simon-console</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>simon-console-filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	-->

	<jsp-config>
		<taglib>
			<taglib-uri>/tld/struts-bean.tld</taglib-uri>
			<taglib-location>/tld/struts-bean.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tld/struts-html.tld</taglib-uri>
			<taglib-location>/tld/struts-html.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tld/struts-logic.tld</taglib-uri>
			<taglib-location>/tld/struts-logic.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tld/c.tld</taglib-uri>
			<taglib-location>/tld/c.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tld/fmt.tld</taglib-uri>
			<taglib-location>/tld/fmt.tld</taglib-location>
		</taglib>
	</jsp-config>
</web-app>